<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" media="all" href="../../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery.min.js}" src="js/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <h2>Главная страница</h2>
    <ul style="margin-top: 25px">
        <li><a href="/users">Пользователи</a></li>
        <li><a href="/accounts">Счета</a></li>
        <li><a href="/swagger-ui.html#">Swagger UI</a></li>
    </ul>
</div>
</body>
</html>